In [3]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from os.path import join

In [4]:
df = pd.read_excel('rain_data_drop_scaled.xlsx')
df.head()

,홍수사상번호,date,시간,유입량,데이터집단 1,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,avg_A_waterfall,avg_B_waterfall,avg_C_waterfall,avg_D_waterfall,avg_D_waterlevel,avg_E_waterlevel
0,1,2006-07-10,8,0.008630,0.019488,0.021277,0.019074,0.027668,0.030534,0.093930,...,0.032389,0.030651,0.093930,0.155313,0.020875,0.019462,0.030201,0.030908,0.155043,0.155043
1,1,2006-07-10,9,0.009926,0.019184,0.021277,0.021798,0.027668,0.030534,0.093291,...,0.040486,0.038314,0.093291,0.154916,0.020875,0.022243,0.034228,0.034771,0.154919,0.154919
2,1,2006-07-10,10,0.011529,0.019488,0.021277,0.024523,0.027668,0.030534,0.093291,...,0.040486,0.042146,0.093291,0.154518,0.020875,0.025023,0.034899,0.036703,0.154795,0.154795
3,1,2006-07-10,11,0.013919,0.022229,0.021277,0.027248,0.027668,0.030534,0.093291,...,0.060729,0.053640,0.093291,0.154320,0.023857,0.027804,0.046980,0.043786,0.154719,0.154719
4,1,2006-07-10,12,0.017731,0.024970,0.021277,0.032698,0.031621,0.038168,0.093291,...,0.072874,0.061303,0.093291,0.153923,0.030318,0.033364,0.055034,0.050869,0.154507,0.154507