In [24]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from os.path import join

In [25]:
df = pd.read_excel('datetime,avgadd.xlsx')
df.head()

,홍수사상번호,date,유입량,데이터집단 1,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,avg_A_waterfall,avg_B_waterfall,avg_C_waterfall,avg_D_waterfall,avg_D_waterlevel,avg_E_waterlevel
0,1,2006-7-10 7:00:00,189.100000,6.4,7,7,7,8,2.54,122.56875,...,8,8,2.54,122.610,7.000000,7.0,7.500000,8.000000,2.54,122.600903
1,1,2006-7-10 8:00:00,216.951962,6.3,7,8,7,8,2.53,122.56250,...,10,10,2.53,122.600,7.000000,8.0,8.500000,9.000000,2.53,122.597782
2,1,2006-7-10 9:00:00,251.424419,6.4,7,9,7,8,2.53,122.55625,...,10,11,2.53,122.590,7.000000,9.0,8.666667,9.500000,2.53,122.594661
3,1,2006-7-10 10:00:00,302.812199,7.3,7,10,7,8,2.53,122.55625,...,15,14,2.53,122.585,8.000000,10.0,11.666667,11.333333,2.53,122.592748
4,1,2006-7-10 11:00:00,384.783406,8.2,7,12,8,10,2.53,122.55625,...,18,16,2.53,122.575,10.166667,12.0,13.666667,13.166667,2.53,122.587423

In [26]:
norm_inflow = (df['유입량']-df['유입량'].min())/(df['유입량'].max()-df['유입량'].min())
df['유입량']=norm_inflow
df.head()

,홍수사상번호,date,유입량,데이터집단 1,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,avg_A_waterfall,avg_B_waterfall,avg_C_waterfall,avg_D_waterfall,avg_D_waterlevel,avg_E_waterlevel
0,1,2006-7-10 7:00:00,0.008630,6.4,7,7,7,8,2.54,122.56875,...,8,8,2.54,122.610,7.000000,7.0,7.500000,8.000000,2.54,122.600903
1,1,2006-7-10 8:00:00,0.009926,6.3,7,8,7,8,2.53,122.56250,...,10,10,2.53,122.600,7.000000,8.0,8.500000,9.000000,2.53,122.597782
2,1,2006-7-10 9:00:00,0.011529,6.4,7,9,7,8,2.53,122.55625,...,10,11,2.53,122.590,7.000000,9.0,8.666667,9.500000,2.53,122.594661
3,1,2006-7-10 10:00:00,0.013919,7.3,7,10,7,8,2.53,122.55625,...,15,14,2.53,122.585,8.000000,10.0,11.666667,11.333333,2.53,122.592748
4,1,2006-7-10 11:00:00,0.017731,8.2,7,12,8,10,2.53,122.55625,...,18,16,2.53,122.575,10.166667,12.0,13.666667,13.166667,2.53,122.587423

In [27]:
feature_list = ['데이터집단 1', 'Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','데이터집단 2','Unnamed: 14','Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','데이터집단 3','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26','데이터 집단 4','Unnamed: 28','Unnamed: 29','Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33','데이터 집단 5','Unnamed: 35','Unnamed: 36','Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40','데이터 집단 6','Unnamed: 42','Unnamed: 43','Unnamed: 44','Unnamed: 45','Unnamed: 46','Unnamed: 47','avg_A_waterfall', 'avg_B_waterfall', 'avg_C_waterfall', 'avg_D_waterfall', 'avg_D_waterlevel', 'avg_E_waterlevel']
for sth in feature_list:
    norm_inflow = (df[sth]-df[sth].min())/(df[sth].max()-df[sth].min())
    df[sth]=norm_inflow
df.head()

,홍수사상번호,date,유입량,데이터집단 1,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,avg_A_waterfall,avg_B_waterfall,avg_C_waterfall,avg_D_waterfall,avg_D_waterlevel,avg_E_waterlevel
0,1,2006-7-10 7:00:00,0.008630,0.019488,0.021277,0.019074,0.027668,0.030534,0.093930,0.153560,...,0.032389,0.030651,0.093930,0.155313,0.020875,0.019462,0.030201,0.030908,0.093930,0.155043
1,1,2006-7-10 8:00:00,0.009926,0.019184,0.021277,0.021798,0.027668,0.030534,0.093291,0.153312,...,0.040486,0.038314,0.093291,0.154916,0.020875,0.022243,0.034228,0.034771,0.093291,0.154919
2,1,2006-7-10 9:00:00,0.011529,0.019488,0.021277,0.024523,0.027668,0.030534,0.093291,0.153064,...,0.040486,0.042146,0.093291,0.154518,0.020875,0.025023,0.034899,0.036703,0.093291,0.154795
3,1,2006-7-10 10:00:00,0.013919,0.022229,0.021277,0.027248,0.027668,0.030534,0.093291,0.153064,...,0.060729,0.053640,0.093291,0.154320,0.023857,0.027804,0.046980,0.043786,0.093291,0.154719
4,1,2006-7-10 11:00:00,0.017731,0.024970,0.021277,0.032698,0.031621,0.038168,0.093291,0.153064,...,0.072874,0.061303,0.093291,0.153923,0.030318,0.033364,0.055034,0.050869,0.093291,0.154507

In [28]:
df.to_excel(excel_writer='good_date,scale.xlsx')